/* fonts */
@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProLight.eot');
  src: url('../fonts/SofiaProLight.eot?#iefix') format('embedded-opentype'), url('../fonts/SofiaProLight.woff2') format('woff2'), url('../fonts/SofiaProLight.woff') format('woff'), url('../fonts/SofiaProLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Alata';
  src: url('../fonts/Alata-Regular.eot');
  src: url('../fonts/Alata-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Alata-Regular.woff2') format('woff2'), url('../fonts/Alata-Regular.woff') format('woff'), url('../fonts/Alata-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* variables */
/* basics */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Sofia Pro', sans-serif;
  color: #000000;
}
.container {
  width: 1108px;
  margin: 0 auto;
}
.section {
  position: relative;
}
.burger {
  display: none;
}
.mobile-menu {
  display: none;
}
.button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  background-color: #F9D023;
  color: #000000;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.6px;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #e3b906;
  transition: all 0.2s;
}
.button img {
  vertical-align: baseline;
}
.first {
  position: relative;
  background-image: url(../img/main-bg.png);
  background-size: cover;
  z-index: 0;
}
.first .gradient {
  position: absolute;
  width: 100%;
  height: 857px;
  top: 254px;
  background: linear-gradient(180deg, #000000 4.66%, rgba(0, 0, 0, 0) 76.78%);
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: -1;
}
.first .numbers {
  top: 41%;
}
.first .numbers .numbers__item {
  color: #FFFFFF;
}
.first .numbers .numbers__item:before {
  background-color: #FFFFFF;
}
.numbers {
  position: absolute;
  right: 0%;
  top: 50%;
}
.numbers .numbers__item {
  position: relative;
  display: block;
  text-align: right;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  margin-right: 30px;
}
.numbers .numbers__item span {
  font-size: 10px;
}
.numbers .numbers__item:last-child {
  margin-bottom: 0;
}
.numbers .numbers__item.current {
  margin-right: 65px;
}
.numbers .numbers__item.current:before {
  width: 58px;
}
.numbers .numbers__item:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 110%;
  content: "";
  width: 20px;
  height: 1px;
  background-color: #000000;
}
/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.header .nav {
  display: flex;
}
.header .nav .nav__link {
  position: relative;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  margin-right: 66px;
  transition: all 0.2s;
}
.header .nav .nav__link:hover {
  color: #F9D023;
  transition: all 0.2s;
}
.header .nav .nav__link:hover:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  margin-top: 6px;
  background-color: #F9D023;
}
.header .nav .nav__link:last-child {
  margin-right: 0;
}
/* main */
.main {
  margin-top: 320px;
  z-index: 2000;
}
.main .main__title {
  font-family: 'Alata', sans-serif;
  font-size: 115px;
  line-height: 130px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 41px;
}
.main .main__subtitle {
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 79px;
}
.main .button {
  width: 196px;
  height: 48px;
  margin-bottom: 236px;
}
.main .button:hover {
  text-decoration: none;
  color: #000000;
}
.main .button img {
  vertical-align: baseline;
}
.main .scroll {
  font-size: 14px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding-bottom: 55px;
}
.section {
  padding-bottom: 140px;
}
.section .title {
  padding-top: 101px;
  font-size: 90px;
  line-height: 80px;
  font-weight: 900;
  margin-bottom: 55px;
}
.section .title:after {
  display: block;
  content: "";
  width: 100px;
  height: 6px;
  margin-top: 50px;
}
.section .title.title--white {
  color: #FFFFFF;
}
.section .title.title__after--yellow:after {
  background-color: #F9D023;
}
.section .title.title__after--white:after {
  background-color: #FFFFFF;
}
.about .content {
  display: flex;
  align-items: center;
}
.about .content img {
  margin-right: 68px;
}
.about .content .description {
  width: 490px;
  font-size: 18px;
  line-height: 26px;
  color: #0B0D21;
}
.about .content .description .description__item {
  margin-bottom: 32px;
}
.about .content .description .description__item:last-child {
  margin-bottom: 0;
}
.services {
  background-color: #F9D023;
}
.services .clients {
  font-size: 18px;
  line-height: 26px;
  color: #0B0D21;
  width: 841px;
}
.services .technologies {
  display: flex;
  margin-top: 47px;
  margin-bottom: 67px;
}
.services .technologies .technologies__item {
  margin-right: 30px;
}
.services .technologies .technologies__item:last-child {
  margin-right: 0;
}
.services .technologies .technologies__item .technologies__title {
  font-size: 40px;
  line-height: 42px;
  font-weight: 900;
  margin-bottom: 33px;
  width: 100px;
}
.services .technologies .technologies__item .technologies__list {
  list-style-type: square;
  color: #FFFFFF;
  margin-left: 20px;
  width: 329px;
}
.services .technologies .technologies__item .technologies__list li {
  margin-bottom: 10px;
}
.services .technologies .technologies__item .technologies__list li:last-child {
  margin-bottom: 0;
}
.services .technologies .technologies__item .technologies__list span {
  color: #0B0D21;
  font-size: 18px;
  line-height: 20px;
}
.services .technologies .technologies__item .arrow {
  display: inline-block;
  margin-top: 41px;
}
.contact {
  background-color: #000000;
}
.contact .content {
  display: flex;
}
.contact .content .left {
  margin-right: 111px;
}
.contact .content .email {
  color: #FFFFFF;
  font-size: 40px;
  line-height: 42px;
  font-weight: 900;
}
.contact .content .email a {
  color: #F9D023;
  text-decoration: none;
  transition: all 0.2s;
}
.contact .content .email a:hover {
  color: #caa406;
  transition: all 0.2s;
}
.contact .content .email a:after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #F9D023;
  margin-top: 5px;
}
.contact .content .form {
  margin-top: 154px;
  width: 445px;
}
.contact .content .form .form__title {
  display: block;
  color: #FFFFFF;
  font-size: 40px;
  line-height: 42px;
  font-weight: 900;
  margin-bottom: 41px;
  width: 300px;
}
.contact .content .form .input {
  display: block;
  width: 100%;
  height: 48px;
  margin-bottom: 15px;
  font-size: 14px;
  letter-spacing: 0.6px;
  font-family: 'Sofia Pro', sans-serif;
  outline: none;
  font-weight: 600;
  padding: 16px 20px;
}
.contact .content .form ::-webkit-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}
.contact .content .form ::-moz-placeholder {
  color: #000000;
  text-transform: uppercase;
}
.contact .content .form :-moz-placeholder {
  color: #000000;
  text-transform: uppercase;
}
.contact .content .form :-ms-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}
.contact .content .form .button {
  float: right;
  width: 272px;
  height: 48px;
}
.contact .numbers .numbers__item {
  color: #FFFFFF;
}
.contact .numbers .numbers__item:before {
  background-color: #FFFFFF;
}
@media (max-width: 1420px) {
  .numbers .numbers__item {
    margin-right: 27px;
  }
  .numbers .numbers__item.current {
    margin-right: 27px;
  }
  .numbers .numbers__item.current:before {
    width: 20px;
  }
}
@media (max-width: 1335px) {
  .services .numbers {
    top: 48.6%;
  }
  .form {
    width: 370px !important;
  }
}
@media (max-width: 1199px) {
  .gradient {
    height: 639px !important;
    top: 209px !important;
  }
  .main {
    margin-top: 200px;
  }
  .main .main__title {
    font-size: 90px;
    margin-bottom: 20px;
  }
  .main .main__subtitle {
    font-size: 20px;
  }
  .main .button {
    margin-bottom: 150px;
  }
  .section {
    padding-bottom: 100px;
  }
  .section .title {
    padding-top: 80px;
    font-size: 70px;
    margin-bottom: 55px;
  }
  .section .title:after {
    height: 5px;
    margin-top: 35px;
  }
  .description {
    width: 340px !important;
    font-size: 15px !important;
    line-height: 23px !important;
  }
  .description .description__item {
    margin-bottom: 14px !important;
  }
  .description .description__item:last-child {
    margin-bottom: 0 !important;
  }
  .services .clients {
    font-size: 15px !important;
    line-height: 23px;
    width: 770px;
  }
  .services .technologies {
    margin-top: 37px;
    margin-bottom: 67px;
  }
  .services .technologies .technologies__item {
    margin-right: 30px;
  }
  .services .technologies .technologies__item:last-child {
    margin-right: 0;
  }
  .services .technologies .technologies__item .technologies__title {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 23px;
  }
  .services .technologies .technologies__item .technologies__list {
    width: 270px;
  }
  .services .technologies .technologies__item .technologies__list span {
    font-size: 15px !important;
  }
  .services .technologies .technologies__item .arrow {
    margin-top: 25px;
  }
  .services .numbers {
    top: 50%;
  }
  .contact .content .left {
    margin-right: 70px;
  }
  .contact .content .email {
    font-size: 33px;
  }
  .contact .content .email a:after {
    margin-top: 2px;
  }
  .contact .content .form {
    margin-top: 120px;
    width: 330px !important;
  }
  .contact .content .form .form__title {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 30px;
    width: 230px;
  }
  .contact .content .form .button {
    float: right;
    width: 230px;
    height: 48px;
  }
}
@media (max-width: 991px) {
  .gradient {
    height: 443px !important;
    top: 209px !important;
  }
  .first .numbers {
    top: 46%;
  }
  .main {
    margin-top: 100px;
  }
  .main .main__title {
    font-size: 67px;
    margin-bottom: 0px;
  }
  .main .main__subtitle {
    margin: 0 auto;
    width: 80%;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 50px;
  }
  .main .button {
    margin-bottom: 90px;
  }
  .section {
    padding-bottom: 70px;
  }
  .section .title {
    padding-top: 45px;
    font-size: 45px;
    margin-bottom: 35px;
    line-height: 50px;
  }
  .section .title:after {
    height: 4px;
    margin-top: 20px;
  }
  .about img {
    width: 350px;
    margin-right: 30px !important;
  }
  .description {
    width: 300px !important;
    font-size: 13px !important;
    line-height: 20px !important;
  }
  .description .description__item {
    margin-bottom: 7px !important;
  }
  .description .description__item:last-child {
    margin-bottom: 0 !important;
  }
  .services .clients {
    font-size: 13px !important;
    line-height: 20px;
    width: 600px;
  }
  .services .technologies {
    margin-top: 25px;
    margin-bottom: 67px;
  }
  .services .technologies .technologies__item {
    margin-right: 20px;
  }
  .services .technologies .technologies__item:last-child {
    margin-right: 0;
  }
  .services .technologies .technologies__item .technologies__title {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 23px;
  }
  .services .technologies .technologies__item .technologies__list {
    width: 200px;
  }
  .services .technologies .technologies__item .technologies__list li {
    line-height: 20px !important;
  }
  .services .technologies .technologies__item .technologies__list span {
    font-size: 13px !important;
  }
  .services .technologies .technologies__item .arrow {
    margin-top: 25px;
  }
  .services .technologies .technologies__item:first-child .arrow {
    margin-top: 5px;
  }
  .services .numbers {
    top: 49%;
  }
  .contact .content .left {
    margin-right: 55px;
  }
  .contact .content .email {
    font-size: 21px;
    line-height: 30px;
  }
  .contact .content .email a:after {
    margin-top: 2px;
  }
  .contact .content .form {
    margin-top: 70px;
    width: 290px !important;
  }
  .contact .content .form .form__title {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 30px;
  }
  .contact .content .form .button {
    float: right;
    width: 200px;
    height: 48px;
  }
  .contact .numbers {
    top: 37.5%;
  }
}
@media (max-width: 767px) {
  .numbers {
    display: none;
  }
  .container {
    max-width: 100%;
  }
  .gradient {
    height: 332px !important;
    top: 209px !important;
  }
  .main {
    margin-top: 100px;
  }
  .main .main__title {
    font-size: 58px;
    margin-bottom: 0px;
    line-height: 100px;
  }
  .main .main__subtitle {
    margin: 0 auto;
    width: 80%;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .main .button {
    margin-bottom: 45px;
  }
  .section {
    padding-bottom: 50px;
  }
  .section .title {
    padding-top: 45px;
    font-size: 45px;
    margin-bottom: 35px;
    line-height: 50px;
  }
  .section .title:after {
    height: 4px;
    margin-top: 20px;
  }
  .about .content {
    display: block;
  }
  .about img {
    display: block;
    margin: 0 auto !important;
    margin-bottom: 30px !important;
  }
  .description {
    width: 100% !important;
    font-size: 15px !important;
    line-height: 25px !important;
  }
  .description .description__item {
    margin-bottom: 13px !important;
  }
  .services .clients {
    font-size: 15px !important;
    line-height: 25px;
    width: 100%;
  }
  .services .technologies {
    display: block;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .services .technologies .technologies__item {
    margin-right: 20px;
  }
  .services .technologies .technologies__item:last-child {
    margin-right: 0;
  }
  .services .technologies .technologies__item .technologies__title {
    font-size: 40px;
    line-height: 34px;
    margin-bottom: 23px;
  }
  .services .technologies .technologies__item .technologies__list {
    width: 100%;
    margin-bottom: 0;
  }
  .services .technologies .technologies__item .technologies__list li {
    line-height: 20px !important;
  }
  .services .technologies .technologies__item .technologies__list span {
    font-size: 15px !important;
  }
  .services .technologies .technologies__item .arrow {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .services .technologies .technologies__item:first-child .arrow {
    margin-top: 10px;
  }
  .contact .content {
    display: block;
  }
  .contact .content .left {
    margin-right: 55px;
  }
  .contact .content .email {
    font-size: 30px;
    line-height: 40px;
    position: relative;
  }
  .contact .content .email a {
    display: inline-block;
  }
  .contact .content .email a:after {
    width: 409px;
    margin-top: 0;
  }
  .contact .content .form {
    margin-top: 70px;
    width: 100% !important;
    margin-bottom: 50px;
  }
  .contact .content .form .form__title {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
  }
  .contact .content .form .button {
    float: right;
    width: 70%;
    height: 48px;
  }
}
@media (max-width: 767px) {
  .numbers {
    display: none;
  }
  .container {
    max-width: 100%;
  }
  .gradient {
    height: 332px !important;
    top: 205px !important;
  }
  .logo img {
    width: 100px;
  }
  .header {
    display: flex !important;
    padding-top: 20px;
  }
  .nav {
    display: none !important;
  }
  .none {
    display: none !important;
  }
  .active {
    display: block !important;
  }
  .burger {
    display: block;
  }
  .scroll {
    display: none;
  }
  .mobile-menu .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 20px 15px;
  }
  .mobile-menu .bottom {
    background-color: #FFFFFF;
    padding-top: 42px;
    padding-bottom: 69px;
    overflow: scroll;
  }
  .mobile-menu .bottom .link {
    display: block;
    font-size: 40px;
    color: #000000;
    line-height: 40px;
    margin-bottom: 23px;
    text-align: center;
    font-weight: 900;
  }
  .mobile-menu .bottom .button {
    display: flex;
    width: 196px;
    height: 48px;
    margin-top: 83px;
  }
  .mobile-menu .bottom .button:hover {
    color: #000000;
    text-decoration: none;
  }
  .main {
    margin-top: 60px;
    padding-bottom: 70px;
  }
  .main .main__title {
    font-size: 50px;
    margin-bottom: 18px;
    line-height: 60px;
  }
  .main .main__subtitle {
    margin: 0 auto;
    width: 80%;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 44px;
  }
  .main .button {
    margin-bottom: 0;
  }
  .section {
    padding-bottom: 53px;
  }
  .section .title {
    padding-top: 53px;
    font-size: 40px;
    margin-bottom: 35px;
  }
  .section .title:after {
    height: 4px;
    margin-top: 20px;
  }
  .about img {
    width: 100%;
  }
  .description {
    font-size: 14px !important;
    line-height: 24px !important;
    padding-top: 30px;
  }
  .description .description__item {
    margin-bottom: 15px !important;
  }
  .services .clients {
    font-size: 14px !important;
    line-height: 24px;
    width: 100%;
  }
  .services .technologies {
    display: block;
    margin-top: 56px;
    margin-bottom: 0px;
  }
  .services .technologies .technologies__item {
    margin-right: 0px;
    padding-right: 15px;
  }
  .services .technologies .technologies__item:last-child {
    margin-right: 0;
  }
  .services .technologies .technologies__item .technologies__title {
    font-size: 25px;
    line-height: 20px;
    margin-bottom: 25px;
    font-weight: 900;
    width: 100%;
  }
  .services .technologies .technologies__item .technologies__list {
    width: 100%;
    margin-bottom: 0;
  }
  .services .technologies .technologies__item .technologies__list li {
    line-height: 20px !important;
  }
  .services .technologies .technologies__item .technologies__list span {
    font-size: 14px !important;
    line-height: 16px;
  }
  .services .technologies .technologies__item .arrow {
    margin-top: 31px;
    margin-bottom: 50px;
  }
  .services .technologies .technologies__item:first-child .arrow {
    margin-top: 31px;
  }
  .contact .content {
    display: block;
  }
  .contact .content .left {
    margin-right: 0px;
  }
  .contact .content .email {
    font-size: 25px;
    line-height: 35px;
    position: relative;
  }
  .contact .content .email a {
    display: block;
    text-decoration: underline;
  }
  .contact .content .email a:after {
    display: none;
  }
  .contact .content .form {
    margin-top: 70px;
    width: 100% !important;
    margin-bottom: 50px;
  }
  .contact .content .form .form__title {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 30px;
    width: 70%;
    text-align: left;
  }
  .contact .content .form .button {
    float: right;
    width: 196px;
    height: 48px;
  }
}
